<!-- Analytics -->
<!-- Matomo 
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://cdil.us/statistics/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://cdil.us/statistics/matomo.php?idsite=5&amp;rec=1" style="border:0;" alt="" /></p></noscript>
 End Matomo Code -->
<!-- Library google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76328753-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  /* load umbrella property with enhanced link attribution and cross domain tracking */
  gtag('config', 'UA-76328753-1', {
    'anonymize_ip': true,
    'link_attribution': true,
    'linker': {
      'domains': ['www.lib.uidaho.edu', 'www.ijc.uidaho.edu', 'vivo.nkn.uidaho.edu', 'www.insideidaho.org', 'libguides.uidaho.edu', 'digital.lib.uidaho.edu', 'poetry.lib.uidaho.edu', 'cdil.lib.uidaho.edu']
    }
  });
</script>
