
<h2 id="contact">Contact</h2>

<p>We’re available 8am - 5pm, Monday - Friday to answer inquiries via email or phone.</p>

<div class="card-deck my-4">
    <div class="card">
        <div class="card-body text-center">
            Phone: <a href="tel:+1-208-885-0845">(208) 885-0845</a><br> 
            Email: <a href="mailto:libspec@uidaho.edu">libspec@uidaho.edu</a><br>
            Visit: <a href="/about/maps.html#first-floor">Reading Room, Library room 121</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
        Special Collections and Archives<br>
        <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=university+of+idaho+library+83844&amp;ie=UTF8&amp;ll=46.735272,-117.014952&amp;spn=0.024177,0.055275&amp;z=14&amp;iwloc=A">University of Idaho Library</a><br>
        875 Perimeter Drive MS 2350 <br>
        Moscow, ID 83844-2350
        </div>
    </div>
</div>