<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img or page.title %}

{% if page.cover-image %}

<style>
   #header-big-img {
     background-image: url('{% include image/post-image.html %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:500px;
}
</style>
  <div id="header-big-img" class="container-fluid mb-0 p-0" >
  

  </div>
  {% unless page.cover-image contains '/' %}<div class="text-right p-0 mt-n5" style="position:relative;bottom:0;right:0;">
    <small><a class="text-info featured-link" id="header-big-img-link" href="{% if page.cover-image contains 'lumber' %}{{ '/items/' | relative_url | append: page.cover-image | append: '.html' }}{% endif %}" title="{{ featuredItem.title | escape }}">Featured Image</a></small>
</div>{% endunless %}


<header class="">
{% if page.cover-img %}
<div class="">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
      {% if page.subtitle %}
        {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
      {% else %}
      <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
      {% endif %}
      {% endif %}

      {% if include.type == "post" %}
          <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
          {% if page.readtime %}
            {% include readtime.html %}
          {% endif %}
      {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class=''></span>
</div>
{% endif %}
<div class="mt-5">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1 class="display-4">{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
      {% if page.subtitle %}
        {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
      {% else %}
      <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
      {% endif %}
      {% endif %}

      {% if include.type == "post" %}
          <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
          {% if page.readtime %}
            {% include readtime.html %}
          {% endif %}
      {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>
</div>
{% endif%}


{% else %}
<div class="intro-header"></div>
{% endif %}

{% unless page.cover-image contains '/' or page.cover-image contains 'lumber' %}
<script>
  var coverobj = "{{ page.cover-image }}";
  var covercoll = coverobj.replace(/[0-9]/g, '');
  var proxyurl = "https://cors-anywhere.herokuapp.com/";
  var coverobjurl = 'https://www.lib.uidaho.edu/digital/' + covercoll +'/items/'+ coverobj +'.html';; // site that doesn’t send Access-Control-*
  
  fetch(proxyurl + coverobjurl) // https://cors-anywhere.herokuapp.com/https://example.com
  .then(function (response) {
                  return response.text();
              })
              .then(function (data) {
                  appendCover(data);
              })
              .catch(function (err) {
                  console.log('error: ' + err);
              });
          function appendCover(data) {
              var strt = data.search("{");
              var ending = data.search("}");
              var lddata = data.slice(strt, ending + 1);
              var obj = JSON.parse(lddata);
              var fig = document.getElementById("header-big-img"); 
              var figlink = document.getElementById("header-big-img-link");                
                  fig.style.backgroundImage =  "url('" + obj.image +"')";
                  figlink.href = obj.url;  
                  console.log('featured:' + fig);
                  alert('it went' + fig);
              };
             </script>
             {% endunless %}