---
title: 4-H exhibit
date: 2019-05-30
cover-image: https://webpages.uidaho.edu/library/spec/harvester/objects/tumblr/185249815543_1.jpg 
tags: ["exhibits","university extension","4-H"]
categories: 
type: Photo
original: https://uispecialcollections.tumblr.com/post/185249815543/the-library-has-a-new-exhibit-on-the-2nd-floor
author: Courtney E. Berge
---

<p> <img class="img-fluid" src="https://webpages.uidaho.edu/library/spec/harvester/objects/tumblr/185249815543_3.jpg "> </p> 

{% include feature/image.html objectid="lumber094" %}

#The library has a new exhibit on the 2nd floor! 

*The 4-H Way* looks at the development of 4-H in Idaho, and the relationship between the clubs and the university extension. This exhibit will be on display through summer, into August. Be sure to stop by and learn about the origins of this well-known program 

 {% include feature/image.html objectid="lumber093" %}
