---
layout: page
---
{%- assign items = site.posts -%}
{%- assign raw-dates = site.posts | map: 'date' | compact | uniq -%}
{%- capture clean-years -%}{% for date in raw-dates %}{{date | date: "%Y"}};{%- endfor -%}{%- endcapture -%}
{%- assign uniqueYears = clean-years | split: ";" | uniq | sort -%}
{%- if site.data.theme.year-navigation -%}
{%- assign navYears = site.data.theme.year-navigation | split: ";" -%}
{%- else -%}
{%- capture navYears -%}
{%- for i in uniqueYears -%}{%- assign t = i | modulo: site.data.theme.year-nav-increment -%}
{%- if t == 0 -%}{{ i }}{% unless forloop.last %};{% endunless %}{% endif %}{% endfor %}{%- endcapture -%}
{%- assign navYears = navYears | split: ";" -%}
{%- endif -%}
<div class="dropdown float-right" id="year-nav">
    <button class="btn btn-info dropdown-toggle" type="button" id="yearButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
    </button>
    <div class="dropdown-menu" aria-labelledby="yearButton">
        {% for y in navYears %}
        <a class="dropdown-item" href="#{{ y }}">{{ y }}</a>{% endfor %}
    </div>
</div>

{{ content }}

<h3><a href="#{{ uniqueYears | first }}">{{ uniqueYears | first }}</a> to <a href="#{{ uniqueYears | last }}">{{ uniqueYears | last }}</a></h3>

<table id="timeline" class="table table-striped">
    {% for year in uniqueYears %}
    <tr id="{{ year }}">
        <th>
            <h3>{{ year }}</h3>
        </th>
        <td>
    
            {% for post in site.posts %}{% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}{% if post_year == year %}
            {% if post.cover-image%}
            <a class="d-inline-block m-1" href="{{ post.url }}" data-toggle="tooltip" data-placement="bottom" title="{{ post.title | escape }} | {{ post.date | date: '%B %d, %Y' | escape }}" ><img class="lazyload img-thumbnail" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{% include image/post-thumb.html %}" alt="{{ post.title | escape }}" alt="{{ post.title | escape }}" ></a>{% else %}
            <div class="card col-md-3 col-6 d-inline-block">
              <div class="card-body">
                <p class="h4"><a class=" m-1" href="{{ post.url }}">
                  {{post.title}}
                </a></p>
              </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
