---
layout: hyde
---
{% if page.cover-image%}
<style>
  #header-big-img {
   background-image: url('{% include image/post-image.html %}');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height:500px;
}
</style>
 <div id="header-big-img" class="container-fluid mb-0 p-0" >
 

 </div>
 {% unless page.cover-image contains '/' %}<div class="text-right p-0 mt-n5" style="position:relative;bottom:0;right:0;">
   <small><a class="text-info featured-link" href="{{ '/items/' | relative_url | append: page.cover-image | append: '.html' }}" title="{{ featuredItem.title | escape }}">Featured Image</a></small>
</div>{% endunless %}
{% endif %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <div class="related-posts">
    {%- assign tags =  page.tags.first | split: ';' -%}
    <p class="h4">{% for tag in tags %}
          <a class="btn btn-outline-info m-1" href="{{ '/tags' | absolute_url }}#{{ tag | strip}}">{{- tag -}}</a>
      
    {% endfor %}</p>
    </div>
</div>
{% endif %}
